<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>injavawetrust.resteasy</display-name>

    <servlet>
        <servlet-name>HttpServletDispatcher</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.core.Application</param-name>
            <param-value>com.rcelik.jaxrs.restmessage.application.RestMessageApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HttpServletDispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>